<template lang="pug">
  .data-table
    table.data-table__table(role="table")
      thead(
        :align="theadAlign"
        role="rowgroup"
        v-if="showTableHeader")
        tr(role="row")
          th(
            role="columnheader"
            v-for="headItem in tableKeys"
            ).capitalize {{ headItem }}
      tbody(role="rowgroup")
        tr(
          class="data-table__row"
          role="row"
          v-for="(rowItem, i) in data"
          :key="rowItem.created + i")
          td(
            :class="[cellItem]"
            class="data-table__cell"
            role="cell"
            v-for="(cellItem, j) in tableKeys")
            template(v-if="j===0")
              div(
                v-for="(el, k) in rowItem[cellItem]"
                :class="[k]"
                @click="handleClick(rowItem)") {{ el }}
            template(v-else)
              span(
                :class="getCssClass(rowItem[cellItem])"
              ) {{ rowItem[cellItem] }}
</template>

<script>

export default {
  name: 'DataTable',

  props: {
    data: {
      type: Array,
      required: true
    },
    showTableHeader: {
      type: Boolean,
      default: true
    },
    theadAlign: {
      type: String,
      default: 'center'
    }
  },

  computed: {
    tableKeys () {
      return Object.keys(this.data[0])
    }
  },

  methods: {
    getCssClass (val) {
      return this.$parent.getCssClass(val)
    },
    handleClick (item) {
      this.$emit('tableEmit', item)
    }
  }
}
</script>

<style lang="scss" scoped>
  .data-table {
    &__table {
      width: 100%;
    }
    @media screen and (max-width: $--break-tablet-portrait) {
      table,
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }
    }
  }
</style>
