<template lang="pug">
  .loading__wrapper
    .loading__loader
      div
      div
      div
      div
</template>

<script>
export default {
  // credits to http://github.danielcardoso.net/load-awesome/animations.html
  name: 'LoadingComponent',
  props: {
    text: {
      type: String
    }
  }
}
</script>

<style lang="scss" scoped>
  .loading {
    &__wrapper {
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__loader {
      margin: 0 auto;
    }
  }
</style>
