<template lang="pug">
  transition(
    name="fade"
    mode="out-in")
    .modal__wrapper
      .modal__overlay(
        @click="handleClose")
      .modal__body
        h3.modal__title {{ title }}
        ul.modal__content
          li.modal__item(v-for="(value, key) in data")
            span.name {{ key }}
            span.value(
              :class="getCssClass(value)"
            ) {{ value }}
        .modal__close
          span(
            @click="handleClose") {{ close }}
</template>

<script>
export default {
  name: 'Modal',

  props: {
    data: {
      type: Object,
      default: () => {}
    },
    title: {
      type: String,
      default: 'Activity detail: '
    },
    close: {
      type: String,
      default: 'Close'
    },
    isOpen: {
      type: Boolean
    }
  },

  methods: {
    handleClose () {
      this.$emit('close')
    },

    getCssClass (val) {
      return this.$parent.getCssClass(val)
    }
  }
}
</script>

<style lang="scss" scoped>
  .modal {
    &__wrapper {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      display: flex;
    }
    &__overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: $--color-modal-overlay;
      z-index: 9;
    }
    &__body {
      width: 560px;
      max-width: 100%;
      margin: auto;
      background: $--color-white;
      border-radius: rem(4);
      padding: rem(32);
      z-index: 10;
    }
    &__content {
      margin-bottom: rem(54);
    }
    &__title, &__item {
      color: $--color-neutral-1;
    }
    &__title {
      margin-bottom: rem(46);
    }
    &__item {
      display: flex;
      justify-content: space-between;
      margin-bottom: rem(32);
      font-size: rem(18);
      .name {
        text-transform: capitalize;
        font-weight: 700;
      }
      .value {
        font-weight: 500;
      }
      .success {
        color: $--color-success;
      }
    }
    &__close {
      text-align: center;
      color: $--color-interactive;
      font-weight: 500;
      text-decoration: underline;
      cursor: pointer;
    }
    @media screen and (max-width: $--break-mobile-lg) {
      &__body {
        max-width: 90%;
        padding: rem(24) rem(16);
      }
      &__item {
        font-size: rem(12);
      }
      &__close {
        font-size: rem(14);
      }
    }
  }

</style>
