<template lang="pug">
  .user-portfolio__transfers
    .user-portfolio__transfers-header
      h4.user-portfolio__transfers-title Transfers activity
      router-link(
        tag="div"
        :to="{name: 'UserTransfers'}")
          a View all
    .user-portfolio__transfers-content
      data-table(
        class="user-portfolio__transfers-table"
        :data="tableData"
        :showTableHeader="false"
        theadAlign="left"
        @tableEmit="handleModal")
      modal(
        v-if="showModal"
        ref="modal"
        :data="modalData"
        @close="handleModal")
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import DataTable from '@/components/shared/DataTable'
import Modal from '@/components/shared/Modal'
import { formatDate, formatCurrency, capitalize, safeCSSClass } from '@/utils/filters'

export default {
  name: 'PortfolioTransfers',
  components: {
    DataTable,
    Modal
  },

  data () {
    return {
      currencyOptions: {
        style: 'currency',
        currency: 'GBP'
      },
      modalData: {},
      showModal: false
    }
  },

  methods: {
    ...mapActions([
      'fetchPortfolioTransfers'
    ]),

    getCssClass (val) {
      if (val.includes('+')) return 'success'
      else if (val.includes('-')) return 'neutral'
      else if (
        val.toLowerCase().includes('cancelled') |
        val.toLowerCase().includes('pending')) return `tag tag-${safeCSSClass(val)}`
      else if (val.includes('/')) return ''
    },

    handleModal (info) {
      this.preventScroll()
      this.showModal = !this.showModal
      if (info) {
        this.modalData.name = info.transfer.name
        this.modalData.type = info.transfer.type
        this.modalData.date = info.created
        this.modalData.amount = info.amount
        this.modalData.status = info.status
      }
    },

    preventScroll () {
      let bodyClass = document.querySelector('body').classList
      let cssClass = 'prevent-scroll'
      this.showModal ? bodyClass.remove(cssClass) : bodyClass.add(cssClass)
    }
  },

  computed: {
    ...mapGetters([
      'getPortfolioTransfers'
    ]),

    tableData () {
      return this.getPortfolioTransfers.map(e => {
        const currencyOptions = { style: 'currency', currency: 'GBP' }
        return {
          transfer: {
            name: e.portfolio.name,
            type: e.item === 'AUTODEPOSIT' ? 'Regular deposit' : 'Fee'
          },
          created: formatDate(e.created, 'en-GB'),
          amount:
              e.item === 'AUTODEPOSIT'
                ? '+ ' + formatCurrency(e.amount, 'en-GB', currencyOptions)
                : '- ' + formatCurrency(e.amount, 'en-GB', currencyOptions),
          status: capitalize(e.status)
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .user-portfolio {
    &__transfers {
      margin-top: rem(48);
      padding: $--content-padding;
      @media screen and (max-width: $--break-tablet-portrait) {
        padding: 0 rem(4);
      }
    }
    &__transfers-title {
      color: $--color-neutral-1;
      font-size: rem(16);
      font-weight: 500;
    }
    &__transfers-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(8);
      @media screen and (max-width: $--break-tablet-portrait) {
        margin-bottom: rem(32);
      }
    }
    /deep/ &__transfers-table {
      .data-table {
        &__row {
          &:not(:last-child) {
            border-bottom: 1px solid $--color-neutral-3;
          }
          @media screen and (max-width: $--break-tablet-portrait) {
            display: flex;
            flex-wrap: wrap;
            padding: rem(16) 0 rem(8);
          }
        }
        &__cell {
          height: rem(102);
          vertical-align: bottom;
          padding-bottom: rem(24);
          &:last-child {
            text-align: right;
          }
          &.transfer {
            width: 35%;
          }
          &.created, .neutral {
            color: $--color-neutral-1;
          }
          .name {
            color: $--color-primary;
            font-weight: 500;
            margin-bottom: rem(16);
            cursor: pointer;
            @extend %regular-transition;
            &:hover {
              color: $--color-secondary;
            }
          }
          .success {
            color: $--color-success;
          }
          .tag {
            @extend %basic-tag;
            color: $--color-white;
            &-cancelled {
              background-color: $--color-grey;
            }
            &-pending {
              background-color: $--color-primary;
            }
          }
          @media screen and (max-width: $--break-tablet-portrait) {
            height: auto;
            padding-bottom: rem(12);
            &:nth-child(1) {
              width: 60%;
              order: 0;
            }
            &:nth-child(3) {
              width: 40%;
              order: 0;
              text-align: right;
            }
            &:nth-child(2) {
              width: 60%;
              order: 1;
            }
            &:nth-child(4) {
              width: 40%;
              order: 1;
            }
            .name {
              margin-bottom: rem(6);
            }
            .type, .name {
              font-size: rem(12);
            }
            &.created, &.amount {
              span {
                font-size: rem(14);
              }
            }
          }
        }
      }
    }
  }
</style>
