<template lang="pug">
  .user-portfolio__main-data
    .user-portfolio__main-data-header
      .portfolio__name
        span.portfolio-type {{ data.portfolio_type }}
        h3.portfolio__title {{ data.name }}
      small.portfolio__details(v-if="!isPhone")
        | Created in
        time  {{ data.created | formatDate('en-GB', createdOptions)}}
      .portfolio__mobile-img(v-if="isPhone")
        img(src="@/assets/images/fund-icon.png")
    .user-portfolio__main-data-content(ref="content")
      .card(v-for="(value, key) in mainDetails")
        small.card__label.card__label--lite(v-if="!value.isButton") {{ key }}
        button.button.button--primary(
          v-if="value.isButton"
          :disabled="!value.can") {{ key }}
        h3.card__value(
          v-else
          :class="{'is-negative': value < 0}")
            template(v-if="value.noCurrency") {{ itemValue(value) }}
            template(v-else) {{ itemValue(value) | formatCurrency('en-GB', currencyOptions) }}
      .mobile-scroll-buttons(v-if="isPhone")
        span.icon.prev(@click="scrollContent(true)")
        span.icon.next(@click="scrollContent(false)")
</template>

<script>
import ResizeMixin from '@/components/shared/ResizeMixin'

export default {
  name: 'PortfolioMainData',
  props: {
    data: {
      type: Object,
      default: () => {}
    }
  },

  mixins: [ ResizeMixin ],

  data () {
    return {
      createdOptions: {
        year: 'numeric',
        month: 'long'
      }
    }
  },

  computed: {

    isPhone () {
      return this.$store.state.shared.phoneResolution
    },

    mainDetails () {
      return {
        balance: this.data.latest_allocation.balance.value,
        invested: this.data.latest_allocation.invested,
        earnings: this.data.latest_allocation.earnings.value,
        'monthly deposit': this.data.autodeposit_amount,
        'risk level': {
          value: this.data.risk_level,
          noCurrency: true
        },
        fund: {
          can: this.data.can_deposit,
          isButton: true
        }
      }
    },
    currencyOptions () {
      return {
        style: 'currency',
        currency: this.data.currency.code
      }
    }
  },

  methods: {
    scrollContent (action) {
      this.$refs.content.scrollLeft += action ? -75 : 75
    },

    itemValue (val) {
      return val.value ? val.value : val
    }
  }
}
</script>

<style lang="scss" scoped>
  .user-portfolio {
    &__main-data {
      border-color:$--color-primary;
      border-style: solid;
      border-top-width: 4px;
      border-bottom-width: 1px;
      position: relative;
      @media screen and (max-width: $--break-tablet-portrait) {
        border-bottom: none;
      }
    }
    &__main-data-header {
      display: flex;
      justify-content: space-between;
      min-height: 65px;
      align-items: center;
      padding: $--content-padding;
      border-bottom: 1px solid $--color-neutral-3;
      @media screen and (max-width: $--break-mobile-lg) {
        padding-left: 12px;
        padding-right: 12px;
      }
      .portfolio__name {
        display: flex;
        align-items: center;
      }
      .portfolio-type {
        $--type-size: 38px;
        font-family: 'Roboto Condensed', sans-serif;
        color: $--color-white;
        background: $--color-primary;
        width: $--type-size;
        height: $--type-size;
        line-height: $--type-size;
        border-radius: 50%;
        text-align: center;
        font-weight: 700;
        letter-spacing: 1px;
      }
      .portfolio__title {
        margin-left: rem(12);
        font-size: rem(20);
        font-weight: 500;
        color: $--color-neutral-1;
        @media screen and (max-width: $--break-mobile-lg) {
          font-size: rem(16);
        }
      }
      .portfolio__details {
        color: $--color-neutral-1;
      }
    }
    &__main-data-content {
      display: flex;
      justify-content: space-between;
      margin-top: rem(24);
      padding: $--content-padding;
      padding-bottom: rem(24);
      transition: scroll .2s linear;
      @media screen and (max-width: $--break-mobile-lg) {
        overflow: auto;
        scroll-behavior: smooth;
        padding-left: 12px;
        padding-right: 12px;
      }
      .card {
        @media screen and (max-width: $--break-mobile-lg) {
          min-width: 145px;
        }
        &__label {
          @extend %basic-label;
          @extend %basic-label--lite;
        }
        &__value {
          margin-top: rem(4);
          &.is-negative {
            color: $--color-neutral-1;
          }
          @media screen and (max-width: $--break-mobile-lg) {
            font-size: rem(18);
          }
        }
      }
      .icon {
        position: absolute;
        left: -14px;
        bottom: 26px;
        background: white;
        &.next {
          left: auto;
          right: -14px;
        }
      }
    }
  }
</style>
