<template lang="pug">
  .user-portfolio__featured
    .user-portfolio__featured-content
      .card(
        v-for="(value, key) in data"
        :class="[`col-${Math.floor(10 / dataLength)}`, `card--${key}`]")
        .card__img(v-if="value.image && !isPhone")
          img(:src="value.image")
        .card__content
          small.card__label(v-if="!isPhone") {{ key }}
          small.card__label(v-if="isPhone && key === 'balance'") {{ key }}
          h2.card__value
            span(
              v-if="value.hasArrow"
              class="balance-indicator"
              :class="[cardItemValue(value) >= 0 ? 'caret caret-up' : 'caret caret-down']")
            | {{ Math.abs(cardItemValue(value)) | formatCurrency('en-GB', currencyOptions) }}
</template>

<script>
import ResizeMixin from '@/components/shared/ResizeMixin'

export default {
  name: 'PortfolioFeaturedData',

  mixins: [ ResizeMixin ],

  data () {
    return {
      dataLength: 0
    }
  },

  props: {
    data: {
      type: Object,
      default: () => {}
    },
    currency: {
      type: Object,
      default: () => {}
    }
  },

  computed: {
    isPhone () {
      return this.$store.state.shared.phoneResolution
    },
    currencyOptions () {
      return {
        style: 'currency',
        currency: this.currency.code
      }
    }
  },

  methods: {
    cardItemValue (el) {
      return el.value ? el.value : el
    }
  },

  watch: {
    'data': {
      handler (val) {
        this.data && (this.dataLength = Object.keys(this.data).length)
      },
      immediate: true
    }
  }
}
</script>

<style lang="scss" scoped>
  .user-portfolio {
    &__featured {
      min-height: 110px;
      margin-bottom: rem(80);
    }
    &__featured-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: $--break-mobile-lg) {
        flex-direction: column;
        box-shadow: $--card-shadow;
      }
      .card {
        display: flex;
        padding: rem(24);
        box-shadow: $--card-shadow;
        height: 100%;
        align-items: center;
        min-height: 110px;
        border-radius: rem(4);
        @media screen and (max-width: $--break-mobile-lg) {
          justify-content: center;
          text-align: center;
          box-shadow: none;
          min-height: auto;
          padding: 0 rem(12);
          &:first-child {
            padding-top: rem(12);
         }
          &:last-child {
            padding-bottom: rem(12);
          }
        }
        &:not(:last-child) {
          margin-right: rem(28);
          @media screen and (max-width: $--break-mobile-lg) {
            margin-right: 0;
          }
        }
        &__img {
          margin-right: rem(36);
          width: 50px;
          min-width: 50px;
          img {
            max-width: 100%;
          }
          @media screen and (min-width: $--break-mobile-lg + 1) and (max-width: $--break-tablet-portrait) {
            width: 45px;
            min-width: 45px;
          }
        }
        &__label {
          @extend %basic-label;
        }
        &__value {
          margin-top: rem(12);
          @media screen and (max-width: $--break-mobile-lg) {
            margin-top: rem(4);
          }
          @media screen and (min-width: $--break-mobile-lg + 1) and (max-width: $--break-tablet-portrait) {
            font-size: rem(18);
          }
        }
        &.col-3 {
          width: 33.3333%;
          @media screen and (max-width: $--break-mobile-lg) {
            width: 100%;
          }
        }
        .balance-indicator {
          position: relative;
          top: 20px;
          margin-right: 12px;
          @media screen and (max-width: $--break-tablet-portrait) {
            top: 12px;
          }
        }
        &--earnings {
          .card__value {
            margin-top: rem(8);
            color: $--color-neutral-1;
            @media screen and (max-width: $--break-mobile-lg) {
              font-size: rem(16);
              padding-bottom: rem(12);
            }
          }
        }
        &--invested {
          .card__value {
            color: $--color-secondary;
          }
          @media screen and (max-width: $--break-mobile-lg) {
            display: none;
          }
        }
      }
    }
  }
</style>
