<template lang="pug">
  header.user-header__wrapper
    div.user-header__content
      h1.user-header__title Welcome back,
        router-link.user-header__username(
          :to="{name: 'UserProfile'}")  {{ userName }}
      div.user-header__details(v-if="!isPhone")
        small
          span.icon.clock.m-r-8
          | Last login: {{ lastLogin | formatDate('en-GB', dateOptions, ',') }}h
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import ResizeMixin from '@/components/shared/ResizeMixin'

export default {
  name: 'UserHeader',

  mixins: [ ResizeMixin ],

  data () {
    return {
      dateOptions: {
        hour: '2-digit',
        minute: '2-digit'
      }
    }
  },

  methods: {
    ...mapActions([
      'fetchUserData'
    ])
  },

  computed: {
    isPhone () {
      return this.$store.state.shared.phoneResolution
    },
    ...mapGetters([
      'userName',
      'lastLogin'
    ])
  }
}
</script>

<style lang="scss" scoped>
  .user-header {
    &__wrapper {
      margin-bottom: rem(40);
      min-height: rem(32);
      padding: rem(16) 0;
      @media screen and (max-width: $--break-tablet-portrait) {
        padding: rem(4) 0;
      }
    }
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__details {
      color: $--color-neutral-2;
      letter-spacing: -.2px;
    }
    &__username {
      text-transform: capitalize;
    }
    &__title {
      @media screen and (max-width: $--break-tablet-portrait) {
        font-size: rem(24);
      }
    }
  }
</style>
