<template lang="pug">
  transition(
    name="fade"
    mode="out-in")
    loading-component(v-if="$store.state.shared.loading")
    section.user-portfolio__wrapper(v-else)
      portfolio-user-header
      portfolio-featured-data(
        :data="getPortfolioFeatured"
        :currency="getPortfolioCurrency")
      portfolio-main-data(
        :data="getPortfolioMain")
      portfolio-transfers
</template>

<script>
import PortfolioUserHeader from '@/components/portfolio/PortfolioUserHeader'
import PortfolioFeaturedData from '@/components/portfolio/PortfolioFeaturedData'
import PortfolioMainData from '@/components/portfolio/PortfolioMainData'
import PortfolioTransfers from '@/components/portfolio/PortfolioTransfers'
import LoadingComponent from '@/components/shared/LoadingComponent'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'UserPortfolio',
  components: {
    PortfolioUserHeader,
    PortfolioFeaturedData,
    PortfolioMainData,
    PortfolioTransfers,
    LoadingComponent
  },

  methods: {
    ...mapActions([
      'fetchPortfolioData',
      'fetchPortfolioTransfers',
      'fetchUserData',
      'loadingAction'
    ])
  },

  computed: {
    ...mapGetters([
      'getPortfolioCurrency',
      'getPortfolioFeatured',
      'getPortfolioMain'
    ])
  },

  created () {
    this.loadingAction(true)
    Promise.all([
      this.fetchPortfolioData(),
      this.fetchPortfolioTransfers(),
      this.fetchUserData()
    ]).then(() => this.loadingAction(false))
  }
}
</script>
