a {
  color: $--color-interactive;
  text-decoration: none;
  @extend %regular-transition;
  &:hover {
    color: $--color-secondary;
  }
}

small {
  font-size: rem(12)
}

$titles: (1, 2, 3, 4, 5, 6);
$max-title: 32;
@for $i from 1 through length($titles) {
  $title: nth($titles, $i);
  $size: $max-title - (($i - 1) * 4);
  h#{$title} {
    font-size: #{$size}px;
  }
}

.button {
  border-radius: 4px;
  padding: rem(6) rem(16);
  background: $--color-primary;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-appearance: none;
  outline: 0;
  margin: 0;
  transition: .5s;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  color: $--color-white;
  height: 100%;
  font-size: rem(14);
  &:disabled {
    opacity: .3;
    cursor: not-allowed;
  }
}