/*==========
margins and paddings
*/

$spaceamounts: (0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 60, 80, 100); // Available steps 
$sides: (top, bottom, left, right);
@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
  
    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

/*==========
text-align
*/

$aligns: (center, left, right); // Available aligns
@each $align in $aligns {
  .text-#{$align} {
    text-align: #{$align} !important;
  }
}

/*==========
utils
*/

.capitalize {
  text-transform: capitalize;
}

.prevent-scroll {
  overflow: hidden;
}