.icon {
  border: 2px solid $--color-neutral-2;
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
  box-sizing: content-box;
  &:after, &:before {
    border: 2px solid $--color-neutral-2;
    content: '';
    position: absolute;
  }
}

.clock {
  border-radius: 100%;
  height: 14px;
  width: 14px;
  &:before {
    height: 0px;
    left: 7px;
    top: 7px;
    transform: rotate(-45deg);
  }
  &:after {
    height: 2px;
    left: 6px;
    top: 3px;
  }
  &:after, &:before {
    border-left: none;
    width: 0;
  }
}


.caret{
  $--border-width: 5px;
  width: 0; 
  height: 0; 
  vertical-align: middle;
  &-down {
    border-left: $--border-width solid transparent;
    border-right: $--border-width solid transparent;
    border-top: $--border-width solid $--color-neutral-2;
  }
  &-up {
    border-left: $--border-width solid transparent;
    border-right: $--border-width solid transparent;
    border-bottom: $--border-width solid $--color-neutral-2;
  }
}

.icon {
  &.prev,
  &.next {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 32px;
    width: 18px;
    &:after,
    &:before {
      border-color: $--color-interactive;
    }
  }
}

.prev {
  &:after,
  &:before {
    content: '';
    border-radius: 2px;
    height: 0;
    left: 3px;
    width: 8px;
    border-width: 1px;
  }
  &:after {
    bottom: 12px;
    transform: rotate(45deg);
  }
  &:before {
    top: 11px;
    transform: rotate(-45deg);
  }
}

.next {
  &:after,
  &:before {
    border-radius: 2px;
    height: 0;
    right: 3px;
    width: 8px;
    border-width: 1px;
  }
  &:after {
    top: 11px;
    transform: rotate(45deg);
  }
  &:before {
    bottom: 12px;
    transform: rotate(-45deg);
  }
}
