%basic-label {
  text-transform: uppercase;
  color: $--color-neutral-2;
  font-weight: 600;
  &--lite {
    font-weight: 400;
  }
}

%basic-tag {
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 4px;
}

%regular-transition {
  transition: color .2s ease-out;
}
