/* Breakpoints
--------------------------*/
$--break-mobile-sm: 321px !default;
$--break-mobile-md: 575px !default;
$--break-mobile-lg: 767px !default;
$--break-tablet-portrait: 1023px !default;
$--break-desktop: 1199px !default;



/* Colors
-------------------------- */

$--color-white: #FFF !default;
$--color-black: #031b52 !default;
$--color-grey: #6c6e7d !default;

$--color-interactive: #1ac9fb !default;

$--color-primary: #1bd6e2 !default;
$--color-primary-disabled: #bbf3f6;

$--color-secondary: #0855b6;

$--color-neutral-1: #797979;
$--color-neutral-2: #abadb6;
$--color-neutral-3: #f0f0f0;

$--color-success: #1ac65d;


/* Content
-------------------------- */
$--content-padding: 8px 24px;

/* Card
-------------------------- */

$--card-shadow-color: rgba(47, 197, 205, 0.15);
$--card-shadow: 0px 2px 15px 0px $--card-shadow-color;

/* Modal
-------------------------- */
$--color-modal-overlay: rgba(3, 27, 82, 0.5);

/* Export
-------------------------- */
:export {
  isPhone: $--break-mobile-lg;
}