<template lang="pug">
  #app
    main
      router-view
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
  html, body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: none;
    font-size: 16px;
    color: $--color-black;
  }
  #app {
    max-width: 1920px;
    margin: 0 auto;
    @media screen and (min-width: $--break-desktop + 1) {
      padding: rem(40) rem(75);
    }
    @media screen and (max-width: $--break-desktop) and (min-width: $--break-tablet-portrait +1) {
      padding: rem(32) rem(20);
    }
    @media screen and (max-width: $--break-tablet-portrait) {
      padding: rem(24) rem(16);
    }
  }
</style>
